@import url('https://fonts.googleapis.com/css?family=Lora|Oswald');
* { margin:0; padding:0; box-sizing:border-box;}
body {
	text-align: center;
	/* background-image: url("https://static.pexels.com/photos/3164/sea-black-and-white-water-ocean.jpg"); */
	background-size: cover;
	color: #000;
	font-family: 'Lora', serif;
}
header{
	background-color: none;
	padding: 20px;
}
nav{
	background-color: none;
	padding: 20px;
}

nav a:hover {
	background-color: #FDB813;
}

article{
	background-color: none;

}

footer{
	background-color: none;
	padding: 20px;
}
section {	
	background-color: none;
	padding: 1em 0;
}
nav a {
	color:inherit;
	display:inline-block;
	padding:1em;
	text-decoration:none;
}
h1 {
	color: #000;
	font-size: 56px;
	font-family: 'Oswald', sans-serif;
}
h2 {
	font-size: 36px;
	margin: 5%;

}
h3{
	font-size:24px;
}

h4{
	font-size:24px;
	font-weight: bold;
}
p {
	font-size: 1em;
	font-family: 'Lora', serif;
	line-height: 1.5em;
}

ul {
    text-align: center;
    list-style-type: none;
    /* margin-left: 35px; */
}

a {
	font-size:1em;
	image-rendering: center;
}

.works img{
	display: block;
	margin: 0 auto;
  	width: 480px;
}

/*hr{
	border: 1px solid black;
}
*/

div{
  	width: 40em;
  	padding: 10px;
  	display: inline-block;
 }

.works {
	width: 30em;
	margin: 2em auto;
	padding:0;
	position: absolute;

}

.column {
	width: 30em;
	margin: 2em auto;
	padding:0;
}


#hero {
	background:url("https://static.pexels.com/photos/3164/sea-black-and-white-water-ocean.jpg");
	background-size:cover;
	padding:10em 0 0;
	height:85vh;
	background-position:center;
}

.skills {
	margin: 1em auto;
	padding:10px;
	display: inline-block;
	position: absolute;
}

.contact{
	text-align: center;
	margin: 1em auto;

}
.footer {
	text-align: center;
	padding: 1em 0;
}