@import url('https://fonts.googleapis.com/css?family=Lora|Oswald');

h1 {
	color: #000;
	font-size: 2em;
	font-family: 'Oswald', sans-serif;
}

body {
	text-align: center;
	background-image: url("https://static.pexels.com/photos/3164/sea-black-and-white-water-ocean.jpg");
	background-size: cover;
	color: #000;
	font-family: 'Lora', serif;
}

p {
	font-size: 1em;
	font-family: 'Lora', serif;
	line-height: 1.5em;
}

ul {
    text-align: center;
    list-style-type: none;
    margin-left: 35px;
}

a {
	font-size:1em;
	image-rendering: center;
}

#second {
	font-size: 1em;
}

.works {
	width:30px;
}