@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Julius+Sans+One|Lora');

h1 {
	color: #000;
	font-size: 32px;
	font-family: 'Lora', serif;
	font-family: 'EB Garamond', serif;
	font-family: 'Julius Sans One', sans-serif;
}

body {
	text-align: center;
	background-image: url("https://static.pexels.com/photos/305814/pexels-photo-305814.jpeg");
	background-size: cover;
	color: #000;
	font-family: Avenir;
}

p {
	font-size: 26px;
}

#second {
	font-size: 16px;
}


ul {
    text-align: center;
    list-style-type: none;
}

a {
	font-size:16px;
}