body {
	text-align: center;
	background-image: url("https://static.pexels.com/photos/199750/pexels-photo-199750.jpeg");
	background-size: cover;
	color: #000;
	font-family: Avenir;
}

h1{
	color: #000;
	font-size: 32px;
}

p{
	font-size: 16px;
}

hr{
	width: 50px;
	color: #000;
}



ul {
    text-align: center;
    list-style-type: none;
}